{% extends "base.html" %}
{% block content %}

<div class='container position-absolute top-50 start-50 translate-middle w-25'
  <div class='row'>
    <h1>Войти</h1>

    <form action='.' method='post'>
      {% csrf_token %}
      <div class="form-outline mb-4">
        <input type="email" id="form2Example1"  class="form-control" name='username' />
        <label class="form-label" for="form2Example1">Логин</label>
      </div>
    
      <div class="form-outline mb-4"> 
        <input type="password" id="form2Example2" class="form-control" name='password' />
        <label class="form-label" for="form2Example2">Пароль</label>
      </div>
      
      <div class=''>
        <button type="submit" value ='Log-in' class="btn btn-primary btn-block mb-4 w-100 ">Войти</button>
      </div>

    </form>
  </div>
</div>
{% endblock content %}